
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.both{
   
    display: flex;
}
.left{
    position: absolute;
    width: 50%;
    background: #252523;
    height: 100vh;
}
.right{
    position: absolute;
    left: 50%;
    width: 50%;
    background: #eff5f4;
    height: 100vh;
}

.headline{ 
     margin-top: 12em;
      position: relative;
      /* color: lightslategray; */
      color: #6fb7ff;
}
.homehead{
    text-transform: capitalize;
}